@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 20px;
}
#wrap{
	margin: 0 auto;
	width: 460px;
	border: #120203;
	background:#C3B9B9;
	overflow: hidden;
}
#header{
	width: 450px;
	height: 120px;
	background:#E72124;
	margin:30px 5px 0 5px;
	overflow: hidden;
	border: #F4F33A;
}
#logo{
	float:left;
	width: 150px;
	height: 35px;
	background: #F6E826;
	left:5px;
	border: 1px solid #000000;
	margin:25px 0 0 10px;
}
#banner{
	float: right;
	width: 240px;
	height: 35px;
	background:#1919F1;
	margin: 25px 10px 0 0;
	border: 1px solid #000000;
}
#menu{
	width: 430px;
	height: 35px;
	background:#01300D;
	margin:75px 10px 5px 10px;
	border: 1px solid #000000;
}
#main{
	width: 450px;
	height: 240px;
	background: #286406;
	margin-bottom: 23px;
	overflow: hidden;
	margin: 10px 5px 0 5px;
	border: #F4F33A;
}
#sidebar{
	float:left;
	width: 140px;
	height: 200px;
	background: #1919F1;
	border: 1px solid #F5F0F0;
	margin: 25px 0 10px 10px;
}
#content{
	float: right;
	width: 250px;
	height: 200px;
	background: #67CDE0;
	border: 1px solid #F5F0F0;
	margin: 25px 10px 10px 0px;
}
#footer{
	width: 450px;
	height: 30px;
	background:#E72124; 
	margin: 20px 5px 10px 5px;
	border: #F4F33A;
	bottom: 5px;
}
